<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Get in Touch</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>123 News Street, NY, USA</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <p><i class="fa fa-phone"></i>+123-456-7890</p>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href="/news/rss"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 footer-block">
                <div class="footer-widget">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-block">
                <div class="footer-widget">
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    
                    <h3 class="title">Подписаться</h3>
                    <div class="newsletter">
                        <p>
                            Вы можете подписаться на новости
                        </p>
                        <font color="lime" id="goodSub"></font>
                        <font color="red" id="errorSub"></font>
                        <form name="subscribe">
                            <input id="userEmail" class="form-control" type="email" name="email" placeholder="Ваша почта">
                            <button type="submit" onclick="sub(event)" class="btn" style="width: auto;">Подписаться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>