<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body bgcolor="black">
    <font color='#DCDCDC'>
        <div align='center'>
        <p><a href="/"><button><h2>Главная</h2></button></a></p>
        <p><a href="/create"><button><h2>Добавить пользователя</h2></button></a></p></div>
        {{{body}}}
</body>
</html>