<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body bgcolor="black">
    <font color='#DCDCDC'>
        <div align='right'>

            {{#if isAuth}}

                {{#each permissionsList}}
                    {{#ifeq this 'GIVE'}}
                        <a href="/rules"><button class="btn">Роли</button></a>
                    {{/ifeq}}
                {{/each}}

                <a href="/"><button class="btn">Список пользователей</button></a>
                <a href="/logout"><button class="btn">Выйти</button></a>

            {{else}}            
                <a href="/register"><button class="btn">Регистрация</button></a>
                <a href="/login"><button class="btn">Войти</button></a>
            {{/if}}

        </div>
        {{{body}}}
</body>
</html>