<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body bgcolor="black">
    <font color='#DCDCDC'>
        <div align='right'>

            {{#if isAuth}}
            
            <a href="/rules"><button><h2>Роли</h2></button></a>
            <a href="/"><button><h2>Список пользователей</h2></button></a>
            <a href="/logout"><button><h2>Выйти</h2></button></a>

            {{else}}            
            <a href="/register"><button><h2>Регистрация</h2></button></a>
            <a href="/login"><button><h2>Войти</h2></button></a>
            {{/if}}

        </div>
        {{{body}}}
</body>
</html>