<div align='center'>
    <h1>Вход</h1>
    {{#if error}}
        <font color='red'>{{error}}</font>
    {{/if}}
    <form method="POST" action="/login">
        <div class="col-sm-3">
            <input name="email" type="email" class="form-control" placeholder="email">
            <input name="password" type="password" min="6" max="32" class="form-control" placeholder="Пароль">
            <br>
            <input type="submit" class="btn btn-outline-success" value="Отправить">
        </div>
    </form>
    <a align="center" href="/users/recoveryPass">
        Забыли пароль?
    </a>

</div>