<div align='center'>
    <h1>Вход</h1>
    {{#if error}}
        <p><font color='red'>{{error}}</font></p>
    {{/if}}
    <form method="POST" action="/login">
        <label>Адрес эл. почты</label><br>
        <input name="email" type="email" width="150"><br><br>

        <label>Пароль</label><br>
        <input name="password" type="password" min="1" max="32" width="150"><br><br>

        <input type="submit" value="Отправить">
    </form>
</div>