<div align='center'><br><br>
    <h3>Придумайте новый пароль</h3><br>
    {{#if error}}
        <font color='red'>{{error}}</font><br><br><br><br><br><br>
    {{else}}
    <form method="POST" action="/users/newPass">
        <div class="col-sm-3">
            <input type="hidden" value="{{token}}" name="token">
            <input name="password" type="password" min="6" max="32" class="form-control" placeholder="password">
            <br>
            <input type="submit" class="btn btn-outline-success" value="Отправить">
        </div>
    </form>
    {{/if}} 

</div>