<div align='center'><br>
    <h1>Забыли пароль?</h1>
    {{#if error}}
        <font color='red'>{{error}}</font>
    {{/if}}<br>
    <form method="POST" action="/users/recovery">
        <div class="col-sm-3">
            <input name="email" type="email" class="form-control" placeholder="Введите ваш email">
            <br>
            <input type="submit" class="btn btn-outline-success" value="Восстановить">
        </div>
    </form>

</div>