<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{!-- <form method="POST" action="/news/editSettings"> --}}
                    <table border="1">
                        <tr>
                            <td>Название</td>
                            <td>Ключ</td>
                            <td></td>
                        </tr>
                        {{#each settings}}
                        <tr>
                            <td>{{this.label}}</td>
                            <td>{{this._key}}</td>
                            <td>
                                <a href="/news/GetEditSettings/{{this._key}}" style="nav-link p-2 active">
                                    Редактировать
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
            {{!-- </form> --}}
        </div>
    </div>
</div>