.nav-bar, .nav-bar .navbar {
    background: #f90 !important;
}

.btn-light {
    color: #000;
    background-color: #e4e4e4 !important;
    border-color: #e4e4e4 ;
    font-weight: 700 !important;
}

pre {
    text-align: justify;
    overflow-x:hidden;
    white-space:pre-wrap;
    word-wrap:break-word;
}

.single-img {
    width: 992px; height: 620px; object-fit: cover; 
}

.btn-outline-primary {
    color: #000000 !important;
    border-color: #000000 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.show-Posts {
    width: 285px;
    height: 180px; 
    margin-top: 15px;
    object-fit: cover;
}

.block_addition { 
    display: flex;
}


.bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}

.comment_list{
    overflow-y:auto;
    width: auto;
    height: auto;
    max-height: 700px;
    padding: 5px;
}

