.nav-bar, .nav-bar .navbar {
    background: #f90 !important;
}

.btn-light {
    color: #000;
    background-color: #e4e4e4 !important;
    border-color: #e4e4e4 ;
    font-weight: 700 !important;
}

pre{
    text-align: justify;
    overflow-x:hidden;
    white-space:pre-wrap;
}

.single-img{
    width: 850px; height: 540px; object-fit: cover; 
}

.btn-outline-primary {
    color: #000000 !important;
    border-color: #000000 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.show-Posts{
    width: 285px;
    height: 180px; 
    margin-top: 15px;
    object-fit: cover;
}